.ipynb_checkpoints

images/simple-plot.png
images/exported-heart-disease.png

data/users.csv
data/TrainAndValid.csv
data/train_tmp_bulldozer.csv
data/Test_Bulldozer.csv
data/bulldozer_predictions.csv

data/dog-datasets/full_model_predictions_submission_mobilenetv2.csv
data/dog-datasets/predictions/preds_array.csv
data/dog-datasets/sample_submission.csv
data/dog-datasets/test/*
!data/dog-datasets/test/.gitkeep
data/dog-datasets/train/*
!data/dog-datasets/train/.gitkeep

env/
anaconda_projects/

models/*
!models/.gitkeep
logs/*
!logs/.gitkeep
